body {
    padding: 10px;
    padding-bottom: 10rem;
}

table {
    margin-left: 2rem;
}

.new_value {
    margin-left: 2rem;
    margin-top: 1rem;
}

td {
    border-bottom: 1px dotted gray;
}

th {
    border-bottom: 1px solid gray;
    padding-left: 5rem;
    padding-right: 5rem;
}

.memo_target_list {
    border: 1px dotted gray;
}

.memo_target {
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    padding: 10px;
}

.memo_target + .memo_target {
    border-top: 1px dotted gray;
}

#download_link > * {
    margin-left: 1rem;
}

button {
    font-family: cursive, fantasy, serif;
}

#doit {
    font-size: 1.2rem;
    margin: 10px;
}